:root {
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --color-3: white;
    --color-4: black;
    --boton-padding: 20px 40px;

    --font-zise-heading-1:
    --font-zise-heading-2:
    --font-zise-heading-3:
    --font-size-text-1:
    --font-size-text-2:

    --font-weight-heading-1: 300;
    --font-weight-heading-2: 400;
    --font-weight-heading-3: 400;
    --font-weight-texts:400;
    --font-weight-button:500;

    --letter-spacing-heading-1:-0.5px;
    --letter-spacing-heading-2:0px;
    --letter-spacing-heading-2:0px;
    --letter-spacing-texts:0.5px;
    --letter-spacing-button:1.25px;

    --line-height-texts:1.5;
    --line-height-headings:1.375

}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;700&display=swap');
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;700&display=swap');
}


html {
    scroll-behavior: smooth;
    scrollbar-color: gray #f2f2f2;
    scrollbar-width: thin;
}

/* valor preteminado de 16px, 100% sigue siendo 16px, para utilizar con em */
body {
    font-size: 100%;
    /* line-height: normal; */

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

p {
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.425em;
    font-weight: 400;

}

/* p::selection {
    background: black;
    color: white;
} */

/* section {
    border: 1px solid black;
}  */

/* .subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
} */

/* .nav--footer{
    font-weight: 300;
    justify-content: flex-start;
} */

/* container para cada seccion */
/* cambiar el max width  */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0;
    max-width: 1536px;
    overflow: hidden;
}

/* header begin */

/* para quitarle el padding de la clase container y se sobreescriba por este */
.navigation .container {
    padding: 0;
}

/* .hero {
    background-image: var(--background), url('../assets/hero.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
} */

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.7s;
}

/* clase que sera agregada con el movimiento del scroll */
.navigation__moving {
    background-color: black;
}

.nav {
    /* background: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-weight: 700;


}

.nav__logo a {
    text-decoration: none;
    color: var(--color-3);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.2em;
    padding: 0.9375rem 0;
    text-transform: uppercase;
    font-weight: 700;
}



.nav-list {}

.nav__items {
    font-family: 'Source Sans 3', sans-serif;
    font-size: clamp(1rem, 0.934rem + 0.277vw, 1.2rem);
    /* font-size: 1em;  */
    font-weight: 300;
    color: var(--color-3);
    text-decoration: none;

    /* margin-right: 1.25rem; */
    /* padding: 0 0.9375rem; */

    /* underline */
    /* letter-spacing: .25em; */
    position: relative;
    padding: 0.9375rem 0 0.9375rem 0.9375rem;


}

/* underline */
.nav__items::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
}

.nav__items:hover::after {
    width: 100%;
    right: 0;
    /* color: #f69ec4; */
}

/* underliner end */


/* .hero__container { old
    display: flex;
    justify-content: center;
    height: calc(100vh - 150px);
    align-items: end;
    color: var(--color-3);
    text-align: center;
} */


.hero__container {
    height: 100vh;
    background-image: var(--background), url('../assets/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;

    display: flex;
    justify-content: center;
    /* height: calc(100vh - 70px); */
    align-items: end;
    color: var(--color-3);
    text-align: center;

}

.hero__texts {
    width: 100%;
    margin-bottom: 1.25rem;
}


.hero__title {
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    font-size: clamp(2.125rem, 1.426rem + 2.941vw, 4.25rem);
    /* font-size: 4.25em; */
    font-weight: 300;
    line-height: 5.125rem;
}

.hero__subtitle {
    /* font-family: 'Source Sans 3', sans-serif; */
    font-size: clamp(1rem, 0.934rem + 0.277vw, 1.2rem);
    font-size: 1.2em;
    font-weight: 300;
    margin: 0.9375rem 0;
}



/* header end */

/* about begin */
.about {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: [one] 1fr [two] 1fr [three] 1fr [four] 1fr [five];
    grid-template-rows: [row-start] 0.5fr [mid-row] 1fr [mid-end] 0.5fr [row-end];
    /* grid-template-areas:
    "subtitle subtitle subtitle photo"
    "left-paragraph left-paragraph right-paragraph right-paragraph"; */
    gap: 1rem 5rem;
    justify-content: center;
    align-items: center;



}


.about__subtitle {
    color: var(--color-4);
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    font-size: clamp(1.313rem, 0.881rem + 1.817vw, 2.625rem);
    /* font-size: 2.6em; */
    line-height: 3.125rem;
    grid-column: one / four;
    grid-row: row-start / mid-row;

}


.about__picture {
    /* grid-area: photo; */
    /* grid-column:  col-end/ col-end;
    grid-row: row-start/ mid-row; */
    /* align-self: center; */
    grid-column: four / five;
    grid-row: row-start / mid-row;

}

.about__photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 0.625rem;
    object-fit: cover;
    object-position: top;

}


.about__texts {
    grid-column: one / five;
    grid-row: mid-row / mid-end;
    display: grid;
    grid-template-columns: [subOne] 1fr [subTwo] 1fr [subThree];
    /* grid-template-columns: repeat(2, minmax(66ch, 75ch)); */
    gap:2rem 1rem ;
    justify-content: space-between;
    align-content: center;
  
}

.about__text {
    /* font-size: 19px; */
    font-size: clamp(1rem, 0.934rem + 0.277vw, 1.2rem);
    /* font-size: 1.2em; */
    /* font-family: 'Source Sans 3', sans-serif; */
}


.about__resume {
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
    color: black;
    font-size: clamp(1rem, 0.934rem + 0.277vw, 1.2rem);
    /* font-size: 1.2em; */
    border-radius: 0.3125rem;
    border: 1px solid black;
    padding: 1.25rem 2.5rem;
    margin: 0 auto;
    text-align: center;
    grid-row: mid-end / row-end;
    grid-column: one / five;
    display: inline-block;
    transition: all 0.5s ease-in-out 0.2s;
}

.about__resume:hover {
    background-color: black;
    color: white;
}

/* about end */

/* experience begin */

.experience {
    display: grid;
    grid-template-areas:
        "header header"
        "tech companies";
    gap: 3rem 10rem;
    justify-content: space-around;

}

.experience__texts {
    text-align: center;
    grid-area: header;
}

.experience__paragraph {
    /* font-family: 'Source Sans 3', sans-serif; */
    font-size: clamp(1rem, 0.934rem + 0.277vw, 1.2rem);
    /* font-size: 1.2em; */
}

.experience__subtitle {
    margin: 2.5rem 0;
    text-transform: uppercase;
    text-align: left;
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    font-size: clamp(0.813rem, 0.545rem + 1.125vw, 1.625rem);
    /* font-size: 1.6em; */
    line-height: 1.9375rem;
    font-weight: 300;
}


.experience__icons {
    grid-area: tech;

}

.experience__grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    gap: 1rem;
    justify-content: center;
    align-content: center;

}


.experience__items {
    justify-self: center;
    align-self: center;
}

.experience__img {
    width: 100%;
    height: 40px;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter 1s;

}

.experience__img:hover {
    filter: grayscale(0%);
}

.experience__title {
    color: var(--color-4);
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    font-size: clamp(1.313rem, 0.881rem + 1.817vw, 2.625rem);
    /* font-size: 2.6em; */
    margin-bottom: 2.1875rem;
}

.experience__companies {
    grid-area: companies;
    display: flex;
    flex-direction: column;
}

.experience__img-companies {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;

}

/* experience end */

/* projects begin */
/* la clase container no esta al principio de esta sccion ya que 
el background se pondria en el contenedor y queremos que se vea en todo el ancho */
.projects {
    background: #f2f2f2;
}


.projects__head {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2.5rem
}

.projects__subtitle {
    color: var(--color-4);
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    font-size: clamp(1.313rem, 0.881rem + 1.817vw, 2.625rem);
    /* font-size: 2.6em; */
    line-height: 3.125rem;


}

.projects__paragraph {
    /* font-family: 'Source Sans 3', sans-serif; */
    font-size: clamp(1rem, 0.934rem + 0.277vw, 1.2rem);
    /* font-size: 1.2em; */
}

.projects__grid {
    padding-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-rows: repeat(2, minmax(250px, 2fr));
    gap: 3rem;
    justify-content: center;
    align-items: center;


}

.projects__item {
    justify-self: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: filter 1s;
}

.projects__img:hover {
    filter: grayscale(0%);
}

/* no se uso */
/* .projects__hover{

} */



.projects__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects__title {
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    font-size: clamp(0.813rem, 0.545rem + 1.125vw, 1.625rem);
    /* font-size: 1.6em; */
    line-height: 1.9375rem;
}

.projects__description {
    /* font-family: 'Source Sans 3', sans-serif; */
    font-size: clamp(1rem, 0.934rem + 0.277vw, 1.2rem);
    /* font-size: 1.2em; */
    line-height: inherit;
}

.projects__link {
    text-decoration: none;
    color: var(--color-4)
}

.projects__link:hover {
    text-decoration: underline;
}

/* project end */

/* footer begin */
.footer {
    background: var(--color-primary);
}

.footer .container {
    padding: 3.125rem 0 1.5625rem 0;
}

.footer__contact {
    display: grid;
    grid-template-columns: minmax(100px, 0.5fr);
    /* grid-template-rows: repeat(3, 1fr); */
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer__icons {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}

.footer__icon {
    text-decoration: none;
    color: var(--color-3);
    font-size: 2.1875em;
    transition: font-size 0.2s ease-in-out 0.3s;

}

.footer__icon:hover {
    font-size: 3.1875em;
}


.footer__scroll {
    width: 100%;
    justify-self: center;
    max-width: 100px;
}

.footer__link {
    text-decoration: none;
}

.footer__img {
    width: 100%;
}




.footer__paragraph {
    /* font-family: 'Source Sans 3', sans-serif; */
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    /* font-size: 1em; */
    margin: 0 auto;
}

.footer__copyright {
    justify-self: center;
    align-self: flex-start;

}


/* se ejecuta si es igual o menor a 1267px */
@media only screen and (max-width:1267px) {

    .hero__container{
        align-items: center ;
    }

    .about {
        grid-template-columns: [one] 1fr [two];
        grid-template-rows: [row-one] 0.5fr [row-two] 0.5fr [row-three] 0.5fr [row-four] 0.5fr [row-five];
    }


    .about__subtitle {
        text-align: center;
        grid-column: one / two;
        grid-row: row-one / row-two;
    }


    .about__picture {
        grid-column: one / two;
        grid-row: row-two / row-three;
        justify-self: center;
    }


    .about__texts {
        grid-column: one / two;
        grid-row: row-three / row-four;
        grid-template-columns: [subOne] 1fr [subTwo];
       
    }



    .about__resume {
        align-self: self-start;
        grid-column: one / two;
        grid-row: row-four / row-five;
    }



    .experience {
        grid-template-areas:
            "header"
            "tech"
            "companies";
        gap: 1rem;
    }

    .experience__subtitle {
        text-align: center;
    }

    .experience__img-companies {
        margin: 0 auto;
        max-width: 250px;
     
    }


    .projects__grid {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-rows: repeat(3, minmax(250px, 2fr));
    }
    
}



/* se ejecuta si es igual o menor a 768 */
@media only screen and (max-width:768px) {

}



