// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0;
    max-width: 1536px;
    overflow: hidden;
}